<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZCBEcommerce.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>929F8D3A1BE8921A00B6862C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>929F8D531BE8921A00B6862C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>929F8D5E1BE8921A00B6862C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
